.header {
  padding: 1rem 0 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: #000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #459999;
  margin-right: 1.3rem;
  text-decoration: none;
  &:hover {
    color: #306060;
  }
}

.active-nav-item {
  color: #303030;
}